*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
	padding-block: 3rem;
	color: #000000;
}

.wrapper {
	background: #ffffff;
	margin: 0 auto;
	max-width: 100%;
	width: 375px;
}

p {
	font-size: 13px;
	font-weight: 400;
	line-height: 16.34px;
}

.text_small {
	font-size: 12px;
	font-weight: 400;
	line-height: 15.08px;
}
.text_bold {
	font-weight: 700;
}

.user_avatar {
	border-radius: 50px;
}

img,
svg {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* HEADER */
header {
	align-items: center;
	border-bottom: 1px solid #c6c6c6;
	display: flex;
	justify-content: space-between;
	padding: 16px;
}

/* MAIN */
main {
	background: #ededed;
}

article {
	background: white;
}
article:not(:last-of-type) {
	margin-bottom: 25px;
}

/* POST USER INFO */
article .post_user {
	align-items: center;
	display: flex;
	gap: 6px;
	padding: 10px;
}
article .post_user_location {
	font-size: 0.8rem;
}

/* POST IMG */
@keyframes likePost {
	0% {
		width: 30px;
	}
	5% {
		width: 50px;
	}
	10% {
		width: 40px;
	}
	30% {
		opacity: 1;
	}
	40% {
		width: 40px;
	}
	100% {
		opacity: 0;
		width: 0;
	}
}
article .post_img_wrapper {
	position: relative;
}
article .post_img {
	cursor: pointer;
	width: 100%;
}
article .post_img_icon_heart {
	width: 0;
	filter: invert(12%) sepia(86%) saturate(5775%) hue-rotate(332deg) brightness(104%) contrast(109%);
	inset: 0;
	margin: auto;
	position: absolute;
}
article #post_img_icon_heart {
	animation: likePost 1.3s;
}

/* POST INTERACT SECTION */
article .post_interact_section {
	padding: 16px 10px;
}
article .post_interact_section .post_interact_icons {
	display: flex;
	font-size: 0;
	gap: 14px;
	margin-bottom: 12px;
}
article .post_interact_section .post_interact_icons img:hover {
	opacity: 0.7;
	cursor: pointer;
}
article .post_interact_section .post_text:not(:last-of-type) {
	margin-bottom: 12px;
}

/* CHANGES COLOR OF SVG */
article .post_interact_section .post_liked {
	filter: invert(12%) sepia(86%) saturate(5775%) hue-rotate(332deg) brightness(104%) contrast(109%);
}

@media screen and (max-width: 375px) {
	body {
		padding: 0;
	}
}
